<div class="container">
<h2>Profile</h2>
<%= button_to('Logout', destroy_user_session_path, method: :delete) %>
<% if @user.id == current_user.id %>
    <p>Email: <%= @user.email if @user.email %></p>
    <p>User ID: <%= @user.id if @user.id %></p>

    <div class="row">
    <h3>Routes</h3>
    <div class="column">
      <table class="table">
        <tbody>
            <tr>
                <td>Title</td>
                <td>City</td>
                <td>Upvotes</td>
            </tr>
          <% @routes.each do |route| %>
            <tr>
              <%= render route %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>

    <div class="row">
    <h3>Reviews</h3>
    <div class="column">
      <table class="table">
        <tbody>
            <tr>
                <td>Title</td>
                <td>Review</td>
                <td>Rating</td>
            </tr>
          <% @reviews.each do |review| %>
            <tr>
              <%= render review %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
</div>