<!DOCTYPE html>
<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 80%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 10;
        padding: 0;
      }
    </style>
    <script type="text/javascript" src="locations.js"></script>
    <!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&sensor=false"></script>-->
</head>

<body>
      <!-- Form to save location into db -->
      <%= form_tag save_location_path do %>
          <%= hidden_field(:location, :name) %>
          <%= hidden_field(:location, :latitude)%>
          <%= hidden_field(:location, :longitude)%>
          <%= submit_tag "Save location", class: "btn btn-large btn-primary" %>
      <% end %>

      <div id="map"></div>
      <input id="pac-input" class="controls" type="text" placeholder="Search Box">

      <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBXzcgwL4SR4Pub-rXaTbGifuux-QbKoEA&callback=initMap" async defer></script>

      <footer class="footer">
        <p>© GemRats 2018</p>
      </footer>

</body>
</html>
