<!DOCTYPE html>
<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 80%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 10;
        padding: 0;
      }
    </style>
    <script type="text/javascript" src="locations.js"></script>
    <!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&sensor=false"></script>-->
</head>

<body>
      <!--<%= hidden_field_tag 'name1' %>-->

      <%= form_tag save_location_path do %>
          <!-- hidden_field_tag :place, id: "name" %>-->
          <!--<%= hidden_field_tag 'name' %>-->
          <%= hidden_field(:location, :name) %>
          <%= hidden_field(:location, :latitude)%>
          <%= submit_tag "Save", class: "btn btn-large btn-primary" %>
      <% end %>

      <!--<%= button_to "Save location", save_location_path(), :class => "button medium", :method => :post %>-->


      <div id="map"></div>
      <input id="pac-input" class="controls" type="text" placeholder="Search Box">



      <script>
        //var map;
        //initMap();
      </script>
      <!--<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCWZAP4gaHmcpY04d6dVYmqWg4zwCvRTrY&callback=initMap" async defer></script>-->
      <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBXzcgwL4SR4Pub-rXaTbGifuux-QbKoEA&callback=initMap" async defer></script>


      <footer class="footer">
        <p>© GemRats 2018</p>
      </footer>

</body>
</html>
