<!-- <h1>Reviews#index</h1> -->
<!-- <p>Find me in app/views/reviews/index.html.erb</p> -->

<h1>Create a review!</h1>
<%= form_with local: true, :url => create_path, method: "post" do |form| %>
	<b>Title:</b><br>
	<%= form.text_field :title %> <br>
	<br>
	<b>Rating:</b><br>
	Rate this route 1 through 5, with 5 meaning Perfect!<br>
	<%= form.text_field :rating %> <br>
	<br>
	<b>Review:</b> <br>
	Tell us what you thought!<br>
	<%= form.text_field :review, :size => 150 %>
	<br>
	<br>
	<%= form.submit "Publish Review" %>
<% end %>
