<!DOCTYPE html>
<html>
  <head>
    <title>TripSet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
          <h3 class="text-muted">TripSet</h3>

          <div style="float:left;">
              <%= button_to "Home", root_path(), :class => "button medium", :method => :get %>
          </div>
          <div style="float:left;">
              <%= button_to 'Profile', :root, :class => 'button' %>             <!--Change path to profile here!!! -->
          </div>
          <%= button_to 'Explore', :root, :class => 'button' %>              <!--Change path to explore here!!! -->

          <li>
          </li>
    </div>
    <%= yield %>
  </body>
</html>
