<!DOCTYPE html>
<html>
  <head>
    <title>TripSet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
          <h3 class="text-muted">TripSet</h3>

          <div style="float:left;">
              <%= button_to "Home", root_path(), :class => "button medium", :method => :get %>
          </div>
          <% if user_signed_in? %>
          <div style="float:left;">
              <%= button_to "Profile", users_path(), :class => "button medium", :method => :get %>
          </div>
          <% end %>
          <%= button_to 'Explore', :root, :class => 'button' %>              <!--Change path to explore here!!! -->
    </div>
    <%= yield %>
  </body>
</html>
